@use "sass:color";
@use '../../styles/global' as *;
@use '../../styles/inputs' with (
	$background-color: color.adjust($background-color, $whiteness: 8%),
	$base-color: $base-color,
	$text-color: $text-color
);

.Dashboard {
	display: grid;
	gap: 12px;
	grid-template-areas: 
		"kit_id kit_id"
		"start_date end_date"
		"sensor_name sensor_name"
		"button button";

	> *:nth-child(1) {grid-area: kit_id;}
	> *:nth-child(2) {grid-area: start_date;}
	> *:nth-child(3) {grid-area: end_date;}
	> *:nth-child(4) {grid-area: sensor_name;}
	> *:nth-child(5) {grid-area: button;}

	> span, fieldset > span {
		@extend %input;
	}

	> fieldset {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 9px;
		padding: 5px 12px 12px 12px;
		
		@media screen and (max-width: 1565px){grid-template-columns: repeat(2, 1fr);}
		@media screen and (max-width: 650px){grid-template-columns: 1fr;}

		> fieldset {
			display: flex;
			gap: 5px;
			flex-direction: column;
		}
	}

	@media screen and (max-width: 650px){
		grid-template-areas: 
		"kit_id"
		"start_date"
		"end_date"
		"sensor_name"
		"button";
	}
}