@use "sass:color";
@use './styles/global' as *;


html {
	color-scheme: dark;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background-color: $background-color;
	color: $text-color;
}

#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


:root {
	--toastify-color-progress-dark: #{$base-color} !important;
	--toastify-color-info: #{$base-color} !important;
	--toastify-color-success: #{$base-color} !important;
	--toastify-color-warning: #{$base-color} !important;
	--toastify-color-error: #{$base-color} !important;
	
}

.Toastify__toast {
	border: 1px solid $base-color;
	background-color: color.adjust($background-color, $whiteness: 8%);
	box-shadow: 0 0 10px darken($background-color, 3%);
}